<html th:lang="${accessibility}" xmlns:th="http://www.thymeleaf.org">
<body>
	<!-- Dialog 그룹 정보 보기/查看群组信息 -->
	<div id="userGroupInfoDialog" title="用户组信息" class="dialog">
		<table class="inner-table scope-row" summary="查看用户组信息">
			<caption class="hiddenTag">关于组</caption>
			<colgroup>
				<col class="col-label"></col>
				<col class="col-data"></col>
			</colgroup>
			<tr>
				<th class="col-label" scope="row">用户组名称</th>
				<td id="userGroupNameInfo" class="col-data ellipsis"></td>
			</tr>
			<tr>
				<th class="col-label" scope="row">그룹Key</th>
				<td id="userGroupKeyInfo" class="col-data"></td>
			</tr>
			<tr>
				<th class="col-label" scope="row">是否基本</th>
				<td id="basicInfo" class="col-data"></td>
			</tr>
			<tr>
				<th class="col-label" scope="row">是否使用</th>
				<td id="availableInfo" class="col-data"></td>
			</tr>
			<tr>
				<th class="col-label" scope="row" th:text="#{description}"></th>
				<td id="descriptionInfo" class="col-data"></td>
			</tr>
		</table>
	</div>
</body>
</html>