<html th:lang="${accessibility}" xmlns:th="http://www.thymeleaf.org">
	<div id="passwordTab">
		<form id="policyPassword" th:object="${policy}" method="post" th:action="@{#}" onsubmit="return false;">
			<table class="input-table scope-row" summary="환경설정 비밀번호 테이블">
			<caption class="hiddenTag">首选项密码</caption>
				<col class="col-label l" />
				<col class="col-input" />
				<tr>
					<th class="col-label l" scope="row">
						<label for="passwordChangeTerm">密码更改周期</label>
						<span class="icon-glyph glyph-emark-dot color-warning"></span>
					</th>
					<td class="col-input">
						<input type="text" id="passwordChangeTerm" name="passwordChangeTerm" th:field="*{passwordChangeTerm}" class="s" maxlength="3" onKeyPress="return numkeyCheck(event);" />
						<span class="table-desc">日</span>
					</td>
				</tr>
				<tr>
					<th class="col-label l" scope="row">
						<label for="passwordMinLength">密码最小长度</label>
						<span class="icon-glyph glyph-emark-dot color-warning"></span>
					</th>
					<td class="col-input">
						<input type="text" id="passwordMinLength" name="passwordMinLength" th:field="*{passwordMinLength}" class="s" maxlength="2" onKeyPress="return numkeyCheck(event);" />
						<span class="table-desc">자</span>
					</td>
				</tr>
				<tr>
					<th class="col-label l" scope="row">
						<label for="passwordMaxLength">密码最大长度</label>
						<span class="icon-glyph glyph-emark-dot color-warning"></span>
					</th>
					<td class="col-input">
						<input type="text" id="passwordMaxLength" name="passwordMaxLength" th:field="*{passwordMaxLength}" class="s" maxlength="2" onKeyPress="return numkeyCheck(event);" />
						<span class="table-desc">자</span>
					</td>
				</tr>
				<tr>
					<th class="col-label l" scope="row">
						<label for="passwordEngUpperCount">密码英文大写字母数</label>
						<span class="icon-glyph glyph-emark-dot color-warning"></span>
					</th>
					<td class="col-input">
						<input type="text" id="passwordEngUpperCount" name="passwordEngUpperCount" th:field="*{passwordEngUpperCount}" class="s" maxlength="2" onKeyPress="return numkeyCheck(event);" />
						<span class="table-desc">개</span>
					</td>
				</tr>
				<tr>
					<th class="col-label l" scope="row">
						<label for="passwordEngLowerCount">密码英文小写字母数</label>
						<span class="icon-glyph glyph-emark-dot color-warning"></span>
					</th>
					<td class="col-input">
						<input type="text" id="passwordEngLowerCount" name="passwordEngLowerCount" th:field="*{passwordEngLowerCount}" class="s" maxlength="2" onKeyPress="return numkeyCheck(event);" />
						<span class="table-desc">개</span>
					</td>
				</tr>
				<tr>
					<th class="col-label l" scope="row">
						<label for="passwordNumberCount">密码号码的数量</label>
						<span class="icon-glyph glyph-emark-dot color-warning"></span>
					</th>
					<td class="col-input">
						<input type="text" id="passwordNumberCount" name="passwordNumberCount" th:field="*{passwordNumberCount}" class="s" maxlength="2" onKeyPress="return numkeyCheck(event);" />
						<span class="table-desc">개</span>
					</td>
				</tr>
				<tr>
					<th class="col-label l" scope="row">
						<label for="passwordSpecialCharCount">密码特殊字符的数量</label>
						<span class="icon-glyph glyph-emark-dot color-warning"></span>
					</th>
					<td class="col-input">
						<input type="text" id="passwordSpecialCharCount" name="passwordSpecialCharCount" th:field="*{passwordSpecialCharCount}" class="s" maxlength="2" onKeyPress="return numkeyCheck(event);" />
						<span class="table-desc">개</span>
					</td>
				</tr>
				<tr>
					<th class="col-label l" scope="row">
						<label for="passwordContinuousCharCount">密码连续字符限制的数量</label>
						<span class="icon-glyph glyph-emark-dot color-warning"></span>
					</th>
					<td class="col-input">
						<input type="text" id="passwordContinuousCharCount" name="passwordContinuousCharCount" th:field="*{passwordContinuousCharCount}" class="s" maxlength="2" onKeyPress="return numkeyCheck(event);" />
						<span class="table-desc">개</span>
					</td>
				</tr>
				<tr>
					<th class="col-label l" scope="row">
						<label>如何创建初始密码</label>
						<span class="icon-glyph glyph-emark-dot color-warning"></span>
					</th>
					<td class="col-input radio-set">
						<input type="radio" id="passwordCreateType1" name="passwordCreateType" th:field="*{passwordCreateType}" value="0" />
						<label for="passwordCreateType1">用户id初始字符 (默认)</label>
						<input type="radio" id="passwordCreateType2" name="passwordCreateType" th:field="*{passwordCreateType}" value="1" />
						<label for="passwordCreateType2">初始字符</label>
					</td>
				</tr>
				<tr>
					<th class="col-label l" scope="row">
						<label for="passwordCreateChar">初始密码生成字符串</label>
						<span class="icon-glyph glyph-emark-dot color-warning"></span>
					</th>
					<td class="col-input">
						<input type="text" id="passwordCreateChar" name="passwordCreateChar" th:field="*{passwordCreateChar}" class="s" maxlength="32" />
					</td>
				</tr>
				<tr>
					<th class="col-label l" scope="row">
						<label for="passwordExceptionChar">无法作为初始密码使用的特殊字符</label>
						<span class="icon-glyph glyph-emark-dot color-warning"></span>
					</th>
					<td class="col-input">
						<input type="text" id="passwordExceptionChar" name="passwordExceptionChar" th:field="*{passwordExceptionChar}" class="s" maxlength="10" />
					</td>
				</tr>
			</table>
			<div class="button-group">
				<div class="center-buttons">
					<a href="#" class="button" th:text="#{save}" onclick="updatePolicyPassword();"></a>
				</div>
			</div>
		</form>
	</div>
</html>