<!DOCTYPE html>
<html th:lang="${accessibility}" xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="dataMetainfoDialog" class="dataMetainfoDialog" title="数据元信息">
		<table class="inner-table scope-row" summary="Data 메타 정보">
			<caption class="hiddenTag">数据元信息</caption>
			<colgroup>
				<col class="col-label"></col>
				<col class="col-data"></col>
			</colgroup>
			<tr>
				<th class="col-label" scope="row">元信息</th>
				<td id="dataMetainfo" class="col-data"></td>
			</tr>
		</table>
	</div>
</body>
</html>