<div id="simulSolarDialog" class="basicTable" style="display: none;" title="日光分析报告" >
	<table summary="일조분석 리포트 테이블">
	<caption class="hiddenTag">日光分析报告</caption>
		<col class="col-label" style="width: 100px;" />
		<col class="col-data" />
		<thead>
			<tr style="height: 30px;">
				<th class="col-label" scope="col">季节</th>
				<th class="col-label" scope="col">日照时间（小时）</th>
			</tr>
		</thead>
		<tbody>
			<tr style="height: 30px;">
				<th class="col-label" scope="row">春分</th>
				<td id="aa" class="col-data ellipsis">
				</td>
			</tr>
			<tr>
				<th class="col-label" scope="row">夏至</th>
				<td id="bb" class="col-data">
				</td>
			</tr>
			<tr>
				<th class="col-label" scope="row">秋分</th>
				<td class="col-data">
				</td>
			</tr>
			<tr>
				<th class="col-label" scope="row">冬至</th>
				<td class="col-data">
				</td>
			</tr>
		</tbody>
	</table>
</div>